spring:
  application:
    name: CarryPigeonBackend
  mail:
    host: smtp.gmail.com
    port: 587
    username: your-email@gmail.com
    password: your-password
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
    enable: false

logging:
  config: classpath:log4j2_config.xml

cp:
  server:
    # server_name: logical display name of this backend server
    server_name: CarryPigeonBackend
    # avatar: image id or key used by frontend to display server avatar
    avatar: default-server-avatar
    # brief: short introduction or description of this server
    brief: CarryPigeon chat backend server
    # time: created time of this server in milliseconds since epoch
    time: 1733616000000

# TODO 閰嶇疆杩佺Щ
minio:
  endpoint: http://localhost:9005
  bucketName: carrygieon
  accessKey: minioadmin
  secretKey: minioadmin

connection:
  port: 7609

liteflow:
  rule-source: config/*.xml
