spring:
  application:
    name: CarryPigeonBackend
  mail:
    host: smtp.gmail.com
    port: 587
    username: your-email@gmail.com
    password: your-password
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
    enable: false
logging:
  config: classpath:log4j2_config.xml
# TODO 配置迁移
minio:
  endpoint: http://localhost:9005
  bucketName: carrygieon
  accessKey: minioadmin
  secretKey: minioadmin
connection:
  port: 7609
liteflow:
  rule-source: config/*.xml